#################### Packetbeat Configuration #########################
#============================== Network device ================================
# Select the network interface to sniff the data. On Linux, you can use the
# "any" keyword to sniff on all connected interfaces.
packetbeat.interfaces.device: any
#================================== Flows =====================================
# Set `enabled: false` or comment out all options to disable flows reporting.
packetbeat.flows:
  # Set network flow timeout. Flow is killed if no packet is received before being
  # timed out.
  timeout: 30s
  # Configure reporting period. If set to -1, only killed flows will be reported
  period: 60s
#========================== Transaction protocols =============================
packetbeat.protocols:
  - type: dns
    # Configure the ports where to listen for DNS traffic. You can disable
    # the DNS protocol by commenting out the list of ports.
    ports: [53]
    # include_authorities controls whether or not the dns.authorities field
    # (authority resource records) is added to messages.
    include_authorities: true
    # include_additionals controls whether or not the dns.additionals field
    # (additional resource records) is added to messages.
    include_additionals: true
  - type: http
    # Configure the ports where to listen for HTTP traffic. You can disable
    # the HTTP protocol by commenting out the list of ports.
    ports: [80, 8080, 8000, 5000, 8002]
  - type: tls
    ports: [443, 8443]
    send_certificates: true
#================================ General =====================================
name: {{ pb_name }}

{% if pb_fields is defined %}
fields:
  {{ pb_fields | to_nice_yaml }}
{% endif %}

#================================ Outputs =====================================
#----------------------------- Logstash output --------------------------------
{% if output is defined %}
{% if output['type'] == 'logstash' %}
output.logstash:
  # The filebeat hosts
  hosts: [ {{ '\"' + output['hosts']|join('\", \"') + '\"' }} ]
  # Enable SSL support. SSL is automatically enabled, if any SSL setting is set.
  ssl.enabled: true
  # Configure SSL verification mode. If `none` is configured, all server hosts
  # and certificates will be accepted. In this mode, SSL based connections are
  # susceptible to man-in-the-middle attacks. Use only for testing. Default is
  # `full`.
  ssl.verification_mode: {{ ssl_config['verification_mode'] }}
  # List of supported/valid TLS versions.
  ssl.supported_protocols: [ {{ ssl_config['supported_protocols'] }} ]
  # List of root certificates for HTTPS server verifications
  ssl.certificate_authorities: [ "{{ssl_config['directory']}}/antsec.cacerts" ]
  # Certificate for SSL client authentication
  ssl.certificate: "{{ssl_config['directory']}}/{{ beats_machine_id }}.crt"
  # Client Certificate Key
  ssl.key: "{{ssl_config['directory']}}/{{ beats_machine_id }}.key"
{% endif %}
{% endif %}

#================================ Logging =====================================
# Sets log level. The default log level is info.
# Available log levels are: critical, error, warning, info, debug
#logging.level: debug
# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publish", "service".
#logging.selectors: ["*"]